@charset "UTF 8";
*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body
{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    
}

main
{
    height: 100vh;
    position: relative;
}

section#telefone
{
    height: 627px;
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
}
iframe#tela
{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 500px;
}
section#redes-sociais img
{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}
section#redes-sociais
{
    text-align: right;
}

section#redes-sociais img:hover
{
    border: 4px solid rgba(255, 255, 255, 0.615);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.604);
    transition: transform 1s, border 2s;
}